<%= form_for @message do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class="field">
    <%= f.text_field :message, :size => 127 %>
  </div>
  <div class="actions">
    <%= f.submit "#{t :submit}" %>
  </div>
<% end %>