<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome to ValuePerdido, <%= @user.surname %>, <%= @user.name %></h1>
    <p>
      Your account has been validated so you can access<br />
      the community using your email: <%= @user.email %>
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Greetings!</p>
  </body>
</html>