<h1><%= @event.name %>'s Bets</h1>

<% if @bets.count > 0 %>
    <table>
      <thead>
        <tr>
            <th>Title</th>
            <th>Votes</th>
            <th>Author</th>
            <th>Actions</th>
        </tr>
      </thead>
      <tbody>
          <% @bets.each do |bet| %>
          <%= render 'bet_votes', :bet => bet %>
          <% end %>
      </tbody>
    </table>
<% else %>
    <p>There are still no bets proposed for this event</p>
<% end %>

<% if @event.active? %>
    <%= link_to "New bet", new_event_bet_path %>
<% end %>
