<h1>New Bet</h1>

<%= form_for(@bet, :url => event_bets_path, :event_id => @event) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <%= render 'bets/form', :f => f %>
  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
<% end %>
