<h1><%= @bet.title %></h1>
<p><%= @bet.description %></p>
<% if current_user?(@bet.user) %>
  <%= link_to "Delete", event_bet_path(:event_id => @bet.event, :id => @bet), :method => :delete,
                                                                         :confirm => "Are you sure?",
                                                                         :title => "Delete bet" %>
<% end %>