<li>
  <%= link_to event.name, event_bets_path(:event_id => event.id) %> | <%= l event.date %>

  <% if event.active? and !current_user.passive? %>
  | <%= link_to "#{t :my_bets}", event_user_bets_path(:event_id => event.id) %>
  <% end %>
  
  <% if current_user.admin? %>
   | <%= link_to "#{t :delete}", event, :method => :delete,
                                  :confirm => "#{t :delete_confirm}",
                                  :title => "#{t :delete} #{event.name}" %>
  <% end %>
</li>