  <div class="field">
    <%= f.label :name, "#{t :name}" %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :date, "#{t :fdate}" %><br />
    <%= f.date_select :date %>
  </div>