<h1>Active events</h1>

<% if @events.count > 0 %>
    <%= will_paginate %>
    <ul>
      <%= render @events %>
    </ul>
    <%= will_paginate %>
<% else %>
    <p>Sorry, there are no active events available</p>
<% end %>

<% if current_user.admin? %>
    <%= link_to "New event", new_event_path %>
<% end %>
