<h1>Normas y condiciones y Cláusulas de privacidad</h1>

<h2>Las siguientes normas y cláusulas se aplicarán a todos los usuarios de esta web.</h2>
<p>Al usar esta página el usuario se compromete a  aceptar los siguientes Normas y condiciones y Cláusulas de privacidad.</p>
<p>valueperdido.herokuapp.com se reserve el derecho de modificar sus Normas y condiciones y Cláusulas de privacidad en cualquier momento, sin previo aviso. Los cambios tendrán efecto a partir del momento de su publicación en esta web.</p>

<h2>Uso de la banca de la web</h2>
<p>Todos los ingresos en valueperdido.herokuapp.com, serán corroborados por los administradores antes de introducirlos en la plataforma de Betfair. No existen comisiones de gestión, y todos los usuarios serán informados de las posibles comisiones en las transferencias de dinero.</p>
<p>Semanalmente se informará de la rentabilidad del club, y se dispondrá de una página que permita ver las estadísticas y avances con la mayor claridad posible.</p>
<p>La estructura de las apuestas se divide en 2 partes, un 80% irá destinado a las valoraciones del club donde se introducirán las apuestas de los eventos que obtengan un 70% de los votos de los miembros de la comunidad. Además, existirá un 20% dedicado al trading diario que permita testear apuestas estructurales periódicas de las cuáles todo el mundo será informado, así como oportunidades que la gente con experiencia sea capaz de detectar.</p>
<p>La cantidad de cada apuesta en el club, no superará en ningún caso el 1% del total, y si se tratara de un evento especial con varias combinaciones el límite subiría a un 3%. Hay que tener en cuenta que Betfair descuenta un 5% de las apuestas ganadoras.</p>
<p>valueperdido.herokuapp.com en ningún caso se compromete a garantizar un resultado, pero garantiza la responsabilidad total en el manejo del dinero y la transparencia de cada una de las operaciones.</p>
<p>En el caso de la retirada de fondos, la persona debe avisar con 2 días de antelación, para llevar a cabo las gestiones oportunas. Dicha retirada puede hacerse efectiva en cualquier momento y sin tener que dar ninguna explicación.</p>

<h2>Uso de la información de la página</h2>
<p>Los documentos y gráficos de esta página se pueden bajar, ver, copiar e imprimir, siempre que sea para uso exclusivamente personal, informativo y sin fines comerciales, y no pueden ser modificados o alterados de ningún modo.</p>
<p>A no ser que se haga un buen uso según las normas sobre propiedad intelectual, no se permite utilizar, bajar, subir, copiar, imprimir, ejecutar,  mostrar, reproducir, publicar, autorizar, enviar, transmitir o distribuir ninguna información de esta web, total o parcialmente, sin la expresa autorización del equipo de valueperdido.herokuapp.com.</p>

<h2>Declinación de responsabilidades</h2>
<p>El contenido de esta web se ofrece “tal como es”, sin garantía explícita o implícita de ningún tipo, dentro de los límites máximos que permite la ley vigente.</p>
<p>valueperdido.herokuapp.com declina toda garantía explícita o implícita, incluyendo en ellas, pero sin limitarse a ello, las garantías implícitas de comerciabilidad o idoneidad para un fin determinado.</p>
<p>valueperdido.herokuapp.com no garantiza que las funciones contenidas en el material sean ininterrumpidas o libres de errores, la corrección de los mismos, o que la web o el servidor que lo pone a disposición estén libres de virus o de otros componentes dañinos.</p>
<p>valueperdido.herokuapp.com no garantiza ni hace declaraciones respecto a la utilización o a las consecuencias de la utilización del material de esta web, respecto a su veracidad, exactitud, fiabilidad, etc.</p>

<h2>Límites de responsabilidad</h2>
<p>Cualquier contenido, material o información bajados conseguidos de cualquier modo mediante el uso de esta web  queda a discreción y bajo responsabilidad del usuario.</p>
<p>valueperdido.herokuapp.com no será responsable, en ningún caso, de algún daño directo, indirecto, accidental, especial o consiguiente, o de daños por pérdida de beneficios, ganancias, datos o utilización, tanto por parte del usuario como de terceros, ya de hecho, por contrato o algo semejante, provocados por el acceso a esta web o por su utilización.</p>

<h2>Webs de terceros, contenido, productos y servicios</h2>
<p>valueperdido.herokuapp.com ofrece enlaces a webs de terceros (publicitarios, afiliados, patrocinadores, etc.) y acceso a sus contenidos, productos y servicios.</p>
<p>El usuario está de acuerdo en que esta web no es responsable de la accesibilidad o de los contenidos ofrecidos por las webs de terceros. Antes de su utilización, el usuario debe informarse de la política de privacidad y otros aspectos relativos a dichas webs</p>
<p>El usuario acepta que esta web no es responsable por los contenidos de terceros, incluidas opiniones, avisos, afirmaciones o publicidad, y es consciente de que se hace cargo de los riesgos inherentes a la utilización de cada uno de dichos contenidos.</p>
<p>Si el usuario decide adquirir algún producto o servicio de un tercero, se está relacionando directamente con dicha tercera parte, y acepta que esta web no es responsable  de: a) la calidad del producto o servicio de la tercera parte; y b) el cumplimiento de cualquier compromiso con el vendedor, incluida la entrega del producto o servicio y las obligadas garantías relacionadas con el producto o el servicio. El usuario reconoce que esta web no es responsable de ninguna pérdida o daño de cualquier tipo que pueda sufrir en su trato con terceros.</p>

<h2>Propiedad intelectual y Marca registrada</h2>
<p>La marca registrada, los logos y las marcas de servicio mostrados en esta web son propiedad de valueperdido.herokuapp.com u otras terceras partes.</p>
<p>Los usuarios no están autorizados a utilizarlos sin el consentimiento previo de valueperdido.herokuapp.como de la tercera parte propietaria de cada marca registrada, logo o marca de servicio.</p>

<h2>Cláusulas de privacidad</h2>
<p>Cualquier información, comunicación o material enviados a esta web por correo electrónico o por otros medios, incluidas consultas, comentarios o sugerencias, a no ser que se diga expresamente lo contrario en este documento, serán tratados como no confidenciales y sin propietarios, y pasarán a ser propiedad de valueperdido.herokuapp.com. Cada información, comunicación o material podrán ser utilizados para cualquier finalidad, incluyendo -sin limitarse a ello-, su reproducción, solicitudes, divulgación, transmisión, publicación, emisión y envío por correo.</p>
<p>valueperdido.herokuapp.com, además, es libre de servirse de cualquier idea, concepto, conocimiento o técnica contenida en cualquier comunicación enviada a esta web con el propósito que sea, incluyendo -sin limitarse a eso- el desarrollo y comercialización de productos utilizando dichas informaciones.</p>
<p>Se nos puede contactar - valueperdido.herokuapp.com   - el caso de que se quiera  hacer alguna consulta acerca de nuestras Normas de uso y Cláusulas de privacidad.</p>
