<footer class="first span-24 last">
  <nav class="first span-24 last">
    <ul class="first prepend-8 span-8 append-8 last">
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Terms", terms_path %></li>
    </ul>
  </nav>
</footer>